.root {
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: 1104px;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 52px 0px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    max-width: 1140px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__hu4Gi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hu4Gi > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__hu4Gi {
    max-width: 170px;
  }
}
.img__gMkLq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gMkLq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gMkLq {
    max-width: 170px;
  }
}
.img__og2IM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__og2IM > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__og2IM {
    max-width: 170px;
  }
}
.img__a1UZl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__a1UZl > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__a1UZl {
    max-width: 170px;
  }
}
