.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ingNc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.freeBox__ingNc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-YL-d-3FLazBu));
  width: calc(100% + var(--token-YL-d-3FLazBu));
}
.freeBox__ingNc > :global(.__wab_flex-container) > *,
.freeBox__ingNc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ingNc > :global(.__wab_flex-container) > picture > img,
.freeBox__ingNc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YL-d-3FLazBu);
}
.freeBox__prY53 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.freeBoxvariations__2__prY53RGy8 {
  display: block;
}
.freeBoxbackground_picture__prY53Thny {
  display: block;
}
.img__wBjeq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wBjeq > picture > img {
  object-fit: cover;
}
.headerGroup {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 1;
}
.headerGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - var(--token-pSSRrvbkJb8O));
  width: calc(100% + var(--token-pSSRrvbkJb8O));
  --plsmc-rc-col-gap: var(--token-pSSRrvbkJb8O);
  margin-top: calc(0px - var(--token-pSSRrvbkJb8O));
  height: calc(100% + var(--token-pSSRrvbkJb8O));
}
.headerGroup > :global(.__wab_flex-container) > *,
.headerGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerGroup > :global(.__wab_flex-container) > picture > img,
.headerGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-pSSRrvbkJb8O);
  margin-top: var(--token-pSSRrvbkJb8O);
}
.headerGroup {
  --plsmc-rc-col-gap: 0px;
}
.headerGroup > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.headerGroup > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.headerGroupborder_loose {
  border-width: 1px;
  border-style: solid;
}
.headerGrouporientation_bottom {
  flex-direction: row;
}
.headerGrouporientation_bottom > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
}
.headerGrouporientation_bottom
  > :global(.__wab_flex-container)
  > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.headerGrouporientation_top {
  flex-direction: row;
}
.headerGrouporientation_top > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
}
.headerGrouporientation_top
  > :global(.__wab_flex-container)
  > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__qrtd5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columnbackground_white__qrtd5ExKgD {
  background: var(--token-_XSpBDvLlCE0);
}
.columnorientation_bottom__qrtd5HsqEp {
  background: none;
}
.columnspacing_silmInnerLeft__qrtd57Dq2A {
  padding-left: 0px;
}
.columnspacing_silmInnerRight__qrtd5NQc2Y {
  padding-right: 0px;
}
.columnspacing_silmInnerUpper__qrtd5Sm8 {
  padding-top: 0px;
}
.columnspacing_slimInnerBottom__qrtd5Hfi1E {
  padding-bottom: 0px;
}
.freeBox___9LuK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxbackground_white___9LuKExKgD {
  background: var(--token-_XSpBDvLlCE0);
}
.freeBoxorientation_top___9LuKojwIe {
  display: none;
}
.freeBoxorientation_left___9LuK0VeCm {
  display: none;
}
.freeBox__doTll {
  display: flex;
  position: relative;
}
.freeBox__n1TCu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.heading4 {
  height: auto;
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  padding: var(--token-dWEYSs9InX6H);
}
.freeBox___4IYi {
  display: flex;
  position: relative;
}
.freeBox__yH8Vc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.content {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-ejugPEA2EDHY);
  padding-left: var(--token-dWEYSs9InX6H);
  padding-right: var(--token-dWEYSs9InX6H);
  background: none;
  min-width: 0;
}
.freeBox__umtxM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBoxvariations__1__umtxMv4Jzo {
  background: none;
}
.freeBox__tHuUv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
.freeBox__tHuUv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-YL-d-3FLazBu));
  width: calc(100% + var(--token-YL-d-3FLazBu));
}
.freeBox__tHuUv > :global(.__wab_flex-container) > *,
.freeBox__tHuUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tHuUv > :global(.__wab_flex-container) > picture > img,
.freeBox__tHuUv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YL-d-3FLazBu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tHuUv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tHuUv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tHuUv > :global(.__wab_flex-container) > *,
  .freeBox__tHuUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tHuUv > :global(.__wab_flex-container) > picture > img,
  .freeBox__tHuUv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxvariations__2__tHuUvRGy8 {
  display: none;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.textInputvariations__1:global(.__wab_instance) {
  display: none;
}
.svg___6Kzq9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cf78Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.buttonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-YL-d-3FLazBu));
  width: calc(100% + var(--token-YL-d-3FLazBu));
}
.buttonGroup > :global(.__wab_flex-container) > *,
.buttonGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonGroup > :global(.__wab_flex-container) > picture > img,
.buttonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YL-d-3FLazBu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonGroup > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.primaryButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .primaryButton:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__dy21 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___55Klg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.secondaryButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  display: none;
}
.secondaryButtonvariations__1:global(.__wab_instance) {
  display: flex;
}
.svg__bgZi2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hEcNz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__gXrAh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-dWEYSs9InX6H);
  padding-bottom: var(--token-ejugPEA2EDHY);
  padding-left: var(--token-dWEYSs9InX6H);
  min-width: 0;
}
.textvariations__1 {
  display: none;
}
.textvariations__2 {
  display: none;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.imgorientation_top {
  display: none !important;
}
.imgorientation_left {
  display: block !important;
}
.column__z5S7F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  min-width: 0;
}
.freeBox___64X7R {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__lBxmN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBoxphotoOption_unnamedVariant__lBxmNwjyY {
  display: none;
}
.img__tFoCf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tFoCf > picture > img {
  object-fit: cover;
}
.freeBox__j8Ug {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxphotoOption_unnamedVariant__j8UGwjyY {
  display: flex;
}
.photoCollage__xuUhb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___72Pev {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___72Pev > picture > img {
  object-fit: cover;
}
.img__prozY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__prozY > picture > img {
  object-fit: cover;
}
.img___5V2Vz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5V2Vz > picture > img {
  object-fit: cover;
}
.img__dQzaB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dQzaB > picture > img {
  object-fit: cover;
}
.img__q0Z3F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__q0Z3F > picture > img {
  object-fit: cover;
}
.img__tVqRm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tVqRm > picture > img {
  object-fit: cover;
}
.img__wJp4X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wJp4X > picture > img {
  object-fit: cover;
}
.img__uiDw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uiDw > picture > img {
  object-fit: cover;
}
.img__q7Yei {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__q7Yei > picture > img {
  object-fit: cover;
}
.img__fgld8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fgld8 > picture > img {
  object-fit: cover;
}
.img___2So1U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___2So1U > picture > img {
  object-fit: cover;
}
