.root:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.headerGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: none;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--token-dWEYSs9InX6H);
}
.headerGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-pSSRrvbkJb8O));
  width: calc(100% + var(--token-pSSRrvbkJb8O));
  --plsmc-rc-col-gap: var(--token-pSSRrvbkJb8O);
  margin-top: calc(0px - var(--token-pSSRrvbkJb8O));
  height: calc(100% + var(--token-pSSRrvbkJb8O));
}
.headerGroup > :global(.__wab_flex-container) > *,
.headerGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerGroup > :global(.__wab_flex-container) > picture > img,
.headerGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-pSSRrvbkJb8O);
  margin-top: var(--token-pSSRrvbkJb8O);
}
.headerGroup {
  --plsmc-rc-col-gap: 0px;
}
.headerGroup > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerGroup > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.headerGroupbackground_unnamedVariant {
  background: none;
}
.headerGroupborder_tight {
  border-width: 1px;
  border-style: solid;
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__yJowm {
  position: absolute;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.freeBoxbackground_unnamedVariant__yJowmQopj1 {
  display: block;
}
.img__bGkVk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bGkVk > picture > img {
  object-fit: cover;
}
.freeBox__xV0Bk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxbackground_unnamedVariant__xV0BkQopj1 {
  background: none;
}
.freeBoxhorizontalDirection__xV0Bkc5Ngr {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxhorizontalDirection__xV0Bkc5Ngr {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__oRzOw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.preHeading {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
}
.preHeadingvariations__2 {
  display: none;
}
.preHeadingtagColors_tero {
  color: var(--token-fDvGkhT0XLXm);
}
.heading2 {
  height: auto;
  max-width: 100%;
  width: auto;
  padding: var(--token-dWEYSs9InX6H);
}
.heading2colors_tero {
  color: var(--token-fDvGkhT0XLXm);
}
.heading2colors_nook {
  color: var(--token-ie6hWrfzgQyZ);
}
.heading2tagColors_nook {
  color: var(--token-ie6hWrfzgQyZ);
}
.freeBox__pAukh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.content {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-ejugPEA2EDHY);
  padding-left: var(--token-dWEYSs9InX6H);
  padding-right: var(--token-dWEYSs9InX6H);
  background: var(--token-_XSpBDvLlCE0);
  min-width: 0;
}
.contentbackground_image {
  background: none;
}
.contentbackground_unnamedVariant {
  background: none;
}
.freeBox__noP3P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-_XSpBDvLlCE0);
  min-width: 0;
  padding: 8px;
}
.freeBoxbackground_image__noP3PuRpOr {
  background: none;
}
.freeBoxbackground_unnamedVariant__noP3Pqopj1 {
  background: none;
}
.freeBox___4DGj {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
.freeBox___4DGj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-YL-d-3FLazBu));
  width: calc(100% + var(--token-YL-d-3FLazBu));
}
.freeBox___4DGj > :global(.__wab_flex-container) > *,
.freeBox___4DGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4DGj > :global(.__wab_flex-container) > picture > img,
.freeBox___4DGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YL-d-3FLazBu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4DGj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4DGj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4DGj > :global(.__wab_flex-container) > *,
  .freeBox___4DGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4DGj > :global(.__wab_flex-container) > picture > img,
  .freeBox___4DGj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBoxvariations__2___4DGjzeK5X {
  display: none;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.textInputvariations__1:global(.__wab_instance) {
  display: none;
}
.svg__zp2SG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___99IEe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.buttonGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-YL-d-3FLazBu));
  width: calc(100% + var(--token-YL-d-3FLazBu));
}
.buttonGroup > :global(.__wab_flex-container) > *,
.buttonGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonGroup > :global(.__wab_flex-container) > picture > img,
.buttonGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-YL-d-3FLazBu);
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonGroup {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonGroup > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.primaryButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .primaryButton:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .primaryButtonvariations__1:global(.__wab_instance) {
    width: auto;
  }
}
.svg__cbb8L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eiaRc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.secondaryButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  display: none;
}
.secondaryButtonvariations__1:global(.__wab_instance) {
  display: flex;
}
.svg__cHn4E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__k4Tr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__nPQqp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-dWEYSs9InX6H);
  padding-bottom: var(--token-ejugPEA2EDHY);
  padding-left: var(--token-dWEYSs9InX6H);
  min-width: 0;
}
.textvariations__1 {
  display: none;
}
.textvariations__2 {
  display: none;
}
