.root {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-self: flex-start;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.root:hover {
  filter: drop-shadow(10px 10px 10px var(--token-KmBBSr6nA7Qo));
}
.rootcolor_link:active {
  mix-blend-mode: hard-light;
}
.rootcolor_text:active {
  mix-blend-mode: hard-light;
}
.button {
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: var(--token-KqGqd9wMike6);
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 6px;
  padding: 12px 20px;
  border-width: 1px;
  border-style: none;
}
.buttonshowStartIcon {
  display: flex;
}
.buttonshowStartIcon > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token--D5DVhvhUpfF));
  width: calc(100% + var(--token--D5DVhvhUpfF));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonshowStartIcon > :global(.__wab_flex-container) > *,
.buttonshowStartIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttonshowStartIcon > :global(.__wab_flex-container) > picture > img,
.buttonshowStartIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token--D5DVhvhUpfF);
  margin-top: 0px;
}
.buttonshowEndIcon {
  display: flex;
  flex-direction: row;
}
.buttonshowEndIcon > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token--D5DVhvhUpfF));
  width: calc(100% + var(--token--D5DVhvhUpfF));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttonshowEndIcon > :global(.__wab_flex-container) > *,
.buttonshowEndIcon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonshowEndIcon > :global(.__wab_flex-container) > picture > img,
.buttonshowEndIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token--D5DVhvhUpfF);
  margin-top: 0px;
}
.buttoncolor_primary {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-KqGqd9wMike6);
  border: 1px solid transparent;
}
.buttoncolor_primary > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_primary > :global(.__wab_flex-container) > *,
.buttoncolor_primary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_primary > :global(.__wab_flex-container) > picture > img,
.buttoncolor_primary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_primaryVivid {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-qEdkfWNQPCOz);
  border: 1px solid transparent;
}
.buttoncolor_primaryVivid > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_primaryVivid > :global(.__wab_flex-container) > *,
.buttoncolor_primaryVivid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_primaryVivid > :global(.__wab_flex-container) > picture > img,
.buttoncolor_primaryVivid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_primaryDark {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-vWRtBzRhbNAz);
  border: 1px solid transparent;
}
.buttoncolor_primaryDark > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_primaryDark > :global(.__wab_flex-container) > *,
.buttoncolor_primaryDark
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_primaryDark > :global(.__wab_flex-container) > picture > img,
.buttoncolor_primaryDark
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_primaryLight {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-7GL4piZdZYVU);
  border: 1px solid transparent;
}
.buttoncolor_primaryLight > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_primaryLight > :global(.__wab_flex-container) > *,
.buttoncolor_primaryLight
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_primaryLight > :global(.__wab_flex-container) > picture > img,
.buttoncolor_primaryLight
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_secondary {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-ILQnh1Gje-7P);
  border: 1px solid transparent;
}
.buttoncolor_secondary > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_secondary > :global(.__wab_flex-container) > *,
.buttoncolor_secondary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_secondary > :global(.__wab_flex-container) > picture > img,
.buttoncolor_secondary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_secondaryVivid {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-bh-UNs7gQuLY);
  border: 1px solid transparent;
}
.buttoncolor_secondaryVivid > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_secondaryVivid > :global(.__wab_flex-container) > *,
.buttoncolor_secondaryVivid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_secondaryVivid > :global(.__wab_flex-container) > picture > img,
.buttoncolor_secondaryVivid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_secondaryDark {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-7mbYpHS56Cfg);
  border: 1px solid transparent;
}
.buttoncolor_secondaryDark > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_secondaryDark > :global(.__wab_flex-container) > *,
.buttoncolor_secondaryDark
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_secondaryDark > :global(.__wab_flex-container) > picture > img,
.buttoncolor_secondaryDark
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_secondaryLight {
  cursor: pointer;
  flex-direction: row;
  background: var(--token-TZhrtm--gUqf);
  border: 1px solid transparent;
}
.buttoncolor_secondaryLight > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.buttoncolor_secondaryLight > :global(.__wab_flex-container) > *,
.buttoncolor_secondaryLight
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.buttoncolor_secondaryLight > :global(.__wab_flex-container) > picture > img,
.buttoncolor_secondaryLight
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.buttoncolor_accentCool {
  background: var(--token-_YChjP_EdW23);
}
.buttoncolor_accentCoolDark {
  background: var(--token-yFt1289ze8LC);
}
.buttoncolor_accentCoolLight {
  background: var(--token-bkPpdkr3LPnS);
}
.buttoncolor_accentWarm {
  background: var(--token-LjPlFtm66m1c);
}
.buttoncolor_accentWarmDark {
  background: var(--token-89wo8GOxJAIP);
}
.buttoncolor_accentWarmLight {
  background: var(--token--5NxthJx61-j);
}
.buttoncolor_white {
  background: #ffffff;
}
.buttoncolor_baseDark {
  background: var(--token-djSUyPcqwQ9X);
}
.buttoncolor_baseReg {
  background: var(--token-SVnuA9G9qx-D);
}
.buttoncolor_baseLight {
  background: var(--token-AaGsx2758039);
}
.buttoncolor_link {
  background: none;
}
.buttoncolor_text {
  background: none;
}
.buttoniconOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.buttonoutline {
  border: 1px solid var(--token-vWRtBzRhbNAz);
}
.buttonround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.buttonisDisabled {
  background: var(--token-rcams-RL3cvQ);
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: auto;
  border-color: var(--token-L5tp8dplKxrS);
}
.root:hover .button {
  mix-blend-mode: darken;
  filter: none;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.root:active .button {
  filter: brightness(124%) hue-rotate(15deg);
}
.rootcolor_text:active .buttoncolor_text {
  filter: brightness(124%) hue-rotate(15deg);
}
.slotTargetStartIcon {
  color: var(--token-irrdCecewMtl);
}
.slotTargetStartIconshowStartIcon {
  color: var(--token-3Su_j9fahhF-);
}
.slotTargetStartIconcolor_primary {
  color: #ffffff;
}
.slotTargetStartIconcolor_primaryVivid {
  color: #ffffff;
}
.slotTargetStartIconcolor_primaryDark {
  color: #ffffff;
}
.slotTargetStartIconcolor_primaryLight {
  color: #ffffff;
}
.slotTargetStartIconcolor_secondary {
  color: #ffffff;
}
.slotTargetStartIconcolor_secondaryVivid {
  color: #ffffff;
}
.slotTargetStartIconcolor_secondaryDark {
  color: #ffffff;
}
.slotTargetStartIconcolor_secondaryLight {
  color: #ffffff;
}
.slotTargetStartIconcolor_white {
  color: #000000d9;
}
.slotTargetStartIconcolor_baseDark {
  color: #ffffffd9;
}
.slotTargetStartIconcolor_baseReg {
  color: #ffffffd9;
}
.slotTargetStartIconcolor_baseLight {
  color: #ffffffd9;
}
.slotTargetStartIconcolor_link {
  color: #007aff;
}
.slotTargetStartIconiconOnly {
  color: var(--token-7GL4piZdZYVU);
}
.svg___1DjsN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.slotTargetChildren {
  font-size: var(--token-DWgur3SC2Txw);
  font-weight: 400;
  line-height: 26px;
  white-space: pre;
  color: var(--token-pOKp8Xs8pwnR);
}
.slotTargetChildren > *,
.slotTargetChildren > :global(.__wab_slot) > *,
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > :global(.__wab_slot) > picture > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.slotTargetChildrencolor_primary {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_primaryVivid {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_primaryDark {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_primaryLight {
  color: var(--token-RsG_s-IePnJb);
}
.slotTargetChildrencolor_secondary {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_secondaryVivid {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_secondaryDark {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_secondaryLight {
  color: var(--token-RsG_s-IePnJb);
}
.slotTargetChildrencolor_accentCoolLight {
  color: var(--token-RsG_s-IePnJb);
}
.slotTargetChildrencolor_accentWarmLight {
  color: var(--token-RsG_s-IePnJb);
}
.slotTargetChildrencolor_white {
  color: var(--token-RsG_s-IePnJb);
}
.slotTargetChildrencolor_baseDark {
  color: #ffffffd9;
}
.slotTargetChildrencolor_baseReg {
  color: var(--token-hmrx8CXNWSIl);
}
.slotTargetChildrencolor_baseLight {
  color: var(--token-e6EFCvOp4CGp);
}
.slotTargetChildrencolor_link {
  color: var(--token-PrjA6WvT-BMJ);
}
.slotTargetChildrencolor_text {
  font-weight: 400;
  color: var(--token-SnVf9d9jT-aP);
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildrenisDisabled {
  color: var(--token-egk1Tr6HIZNF);
}
.slotTargetEndIcon {
  color: var(--token-irrdCecewMtl);
}
.slotTargetEndIconcolor_primary {
  color: #ffffff;
}
.slotTargetEndIconcolor_primaryVivid {
  color: #ffffff;
}
.slotTargetEndIconcolor_primaryDark {
  color: #ffffff;
}
.slotTargetEndIconcolor_primaryLight {
  color: #ffffff;
}
.slotTargetEndIconcolor_secondary {
  color: #ffffff;
}
.slotTargetEndIconcolor_secondaryVivid {
  color: #ffffff;
}
.slotTargetEndIconcolor_secondaryDark {
  color: #ffffff;
}
.slotTargetEndIconcolor_secondaryLight {
  color: #ffffff;
}
.slotTargetEndIconcolor_white {
  color: #000000d9;
}
.slotTargetEndIconcolor_baseDark {
  color: #ffffffd9;
}
.slotTargetEndIconcolor_baseReg {
  color: #ffffffd9;
}
.slotTargetEndIconcolor_baseLight {
  color: #ffffffd9;
}
.slotTargetEndIconcolor_link {
  color: #007aff;
}
.svg___5MrQ3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
