.root {
  position: relative;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  width: 100%;
  background: #000000d9;
  min-width: 0;
  min-height: 0;
}
.rootvariations_orientation {
  display: flex;
  flex-direction: row;
}
.freeBox__cE5Gn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__cE5GntWrc7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__pU5Mn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__pU5MNtWrc7 {
  display: flex;
  flex-direction: column;
}
.freeBox__dvPOu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__dvPOu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.freeBoxvariations_orientation__dvPOutWrc7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__dvPOutWrc7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBoxvariations_orientation__dvPOutWrc7 > :global(.__wab_flex-container) > *,
.freeBoxvariations_orientation__dvPOutWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxvariations_orientation__dvPOutWrc7
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxvariations_orientation__dvPOutWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.img__l4AO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__l4AO > picture > img {
  object-fit: cover;
}
.freeBox__jygKl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__jygKLtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__f6Twm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__f6Twm > picture > img {
  object-fit: cover;
}
.freeBox___52Fnr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation___52FnRtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__hyuB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hyuB > picture > img {
  object-fit: cover;
}
.freeBox__fgaX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__fgaXtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__m99C0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__m99C0 > picture > img {
  object-fit: cover;
}
.freeBox__qIuFj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__qIuFJtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__qigR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qigR > picture > img {
  object-fit: cover;
}
.freeBox___14MH {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation___14MHtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__peB43 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__peB43 > picture > img {
  object-fit: cover;
}
.freeBox__bVDaL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__bVDaLtWrc7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__b3H1O {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__b3H1O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.freeBoxvariations_orientation__b3H1OtWrc7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__b3H1OtWrc7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBoxvariations_orientation__b3H1OtWrc7 > :global(.__wab_flex-container) > *,
.freeBoxvariations_orientation__b3H1OtWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxvariations_orientation__b3H1OtWrc7
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxvariations_orientation__b3H1OtWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.img__d24Rv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__d24Rv > picture > img {
  object-fit: cover;
}
.freeBox__mwsgI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__mwsgI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.freeBoxvariations_orientation__mwsgItWrc7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__mwsgItWrc7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBoxvariations_orientation__mwsgItWrc7 > :global(.__wab_flex-container) > *,
.freeBoxvariations_orientation__mwsgItWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxvariations_orientation__mwsgItWrc7
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBoxvariations_orientation__mwsgItWrc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.img__dPpNt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dPpNt > picture > img {
  object-fit: cover;
}
.freeBox__mavu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__mavuTWrc7 {
  display: flex;
  flex-direction: column;
}
.img__iq7R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__iq7R > picture > img {
  object-fit: cover;
}
.freeBox__slLnl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__slLnltWrc7 {
  display: flex;
  flex-direction: column;
}
.img__cv8LS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cv8LS > picture > img {
  object-fit: cover;
}
.freeBox__k97T {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBoxvariations_orientation__k97TtWrc7 {
  display: flex;
  flex-direction: column;
}
.img__wDXgl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wDXgl > picture > img {
  object-fit: cover;
}
