@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-uTaIJUxv_FXX: #ffffff;
  --plasmic-token-white: var(--token-uTaIJUxv_FXX);
  --token-qMtlLMMEglts: #70e17b;
  --plasmic-token-theme-accent-cool: var(--token-qMtlLMMEglts);
  --token-Byk-zx4SxqYy: #00a91c;
  --plasmic-token-theme-accent-cool-high: var(--token-Byk-zx4SxqYy);
  --token-HcpNVsjVYBZh: #154c21;
  --plasmic-token-theme-accent-cool-higher: var(--token-HcpNVsjVYBZh);
  --token-Y-u7OTpDfi7p: #b7f5bd;
  --plasmic-token-theme-accent-cool-low: var(--token-Y-u7OTpDfi7p);
  --token-Z8b9-lTaCgs4: #ecf3ec;
  --plasmic-token-theme-accent-cool-lower: var(--token-Z8b9-lTaCgs4);
  --token-s1oEykKme0pc: #71767a;
  --plasmic-token-theme-base: var(--token-s1oEykKme0pc);
  --token-T3vsFx3PCaIL: #565c65;
  --plasmic-token-theme-base-high: var(--token-T3vsFx3PCaIL);
  --token-GxKPEtUjqSVR: #3d4551;
  --plasmic-token-theme-base-higher: var(--token-GxKPEtUjqSVR);
  --token-oUC48EWYT2DJ: #a9aeb1;
  --plasmic-token-theme-base-low: var(--token-oUC48EWYT2DJ);
  --token-aXHJ99LER289: #dfe1e2;
  --plasmic-token-theme-base-lower: var(--token-aXHJ99LER289);
  --token-QNxaskQgKag1: #1b1b1b;
  --plasmic-token-theme-ink: var(--token-QNxaskQgKag1);
  --token-Vr5OMaoLEfSl: #d54309;
  --plasmic-token-theme-message-error: var(--token-Vr5OMaoLEfSl);
  --token-ivo3UVOLeMLD: #b50909;
  --plasmic-token-theme-message-error-high: var(--token-ivo3UVOLeMLD);
  --token-8uNkgwn_2vsq: #f39268;
  --plasmic-token-theme-message-error-low: var(--token-8uNkgwn_2vsq);
  --token-AGoWkqVW9G7B: #00bde3;
  --plasmic-token-theme-message-info: var(--token-AGoWkqVW9G7B);
  --token-YIlj5wcD-Vk5: #009ec1;
  --plasmic-token-theme-message-info-high: var(--token-YIlj5wcD-Vk5);
  --token-NOX4wsi-0DJI: #99deea;
  --plasmic-token-theme-message-info-low: var(--token-NOX4wsi-0DJI);
  --token-6Krz9A8gqsH_: #ffbe2e;
  --plasmic-token-theme-message-warning: var(--token-6Krz9A8gqsH_);
  --token-R8Ix0aak05js: #e5a000;
  --plasmic-token-theme-message-warning-high: var(--token-R8Ix0aak05js);
  --token-fTcs0wJ6aygy: #98d035;
  --plasmic-token-theme-message-success-low: var(--token-fTcs0wJ6aygy);
  --token-zj2_Jqlr8Hl4: #0050d8;
  --plasmic-token-theme-primary: var(--token-zj2_Jqlr8Hl4);
  --token-MyNA1c21QyRS: #162e51;
  --plasmic-token-theme-primary-high: var(--token-MyNA1c21QyRS);
  --token-8Wu9dKQH00EE: #13171f;
  --plasmic-token-theme-primary-higher: var(--token-8Wu9dKQH00EE);
  --token-ahIfIBW096E_: #81aefc;
  --plasmic-token-theme-primary-low: var(--token-ahIfIBW096E_);
  --token-PY-5PTcJ4zHG: #ecf1f7;
  --plasmic-token-theme-primary-lower: var(--token-PY-5PTcJ4zHG);
  --token-1jf6f-VNO6e4: #aacdec;
  --plasmic-token-theme-secondary-low: var(--token-1jf6f-VNO6e4);
  --token-lN142VL2K3ot: #e8f5ff;
  --plasmic-token-theme-secondary-lower: var(--token-lN142VL2K3ot);
  --token-gekmpGuGPosJ: #222fbf;
  --plasmic-token-theme-secondary-vivid: var(--token-gekmpGuGPosJ);
  --token-UevlhQIoxjCi: #e7f6f8;
  --plasmic-token-theme-message-info-lower: var(--token-UevlhQIoxjCi);
  --token-ECcJsrM_kLo9: #2e6276;
  --plasmic-token-theme-message-info-higher: var(--token-ECcJsrM_kLo9);
  --token-pGzcnOqMSgG5: #f4e3db;
  --plasmic-token-theme-message-error-lower: var(--token-pGzcnOqMSgG5);
  --token-nrLWlQKsaGhk: #6f3331;
  --plasmic-token-theme-message-error-higher: var(--token-nrLWlQKsaGhk);
  --token-JJIcl54CAN5I: #faf3d1;
  --plasmic-token-theme-message-warning-lower: var(--token-JJIcl54CAN5I);
  --token-qjcVxlAKGNd7: #fee685;
  --plasmic-token-theme-message-warning-low: var(--token-qjcVxlAKGNd7);
  --token-buRVndusWxix: #936f38;
  --plasmic-token-theme-message-warning-higher: var(--token-buRVndusWxix);
  --token-XFFV6gS_LNKx: #ddf9c7;
  --plasmic-token-theme-message-success-lower: var(--token-XFFV6gS_LNKx);
  --token-kVJQbJaBfki0: #719f2a;
  --plasmic-token-theme-message-success: var(--token-kVJQbJaBfki0);
  --token-sYNZ_n7JseW8: #466c04;
  --plasmic-token-theme-message-success-high: var(--token-sYNZ_n7JseW8);
  --token-0_s93ZEJRkDT: #243413;
  --plasmic-token-theme-message-success-higher: var(--token-0_s93ZEJRkDT);
  --token-r82hHUQpRODZ: #757575;
  --plasmic-token-theme-message-disabled: var(--token-r82hHUQpRODZ);
  --token-gWS8_6FQGTct: #919191;
  --plasmic-token-theme-message-disabled-low: var(--token-gWS8_6FQGTct);
  --token--8Xv9cP458fD: #c9c9c9;
  --plasmic-token-theme-message-disabled-lower: var(--token--8Xv9cP458fD);
  --token-94cT647WpPwS: #454545;
  --plasmic-token-theme-message-disabled-high: var(--token-94cT647WpPwS);
  --token-nFIQCaZDGVEX: #1b1b1b;
  --plasmic-token-theme-message-disabled-higher: var(--token-nFIQCaZDGVEX);
  --token-ogjUmXWMnivT: #9c3d10;
  --plasmic-token-theme-message-emergency: var(--token-ogjUmXWMnivT);
  --token-C4U6KjLJ5r0R: #332d29;
  --plasmic-token-theme-message-emergency-higher: var(--token-C4U6KjLJ5r0R);
  --token-qJtfv9eHslMJ: #005ea2;
  --plasmic-token-theme-secondary-high: var(--token-qJtfv9eHslMJ);
  --token-SpHUTRhu8lYk: #112f4e;
  --plasmic-token-theme-secondary-higher: var(--token-SpHUTRhu8lYk);
  --token-I2VAUD6ZBeUA: #2491ff;
  --plasmic-token-theme-secondary: var(--token-I2VAUD6ZBeUA);
  --token-TrBzmekLCT-P: #b21d38;
  --plasmic-token-theme-accent-warm: var(--token-TrBzmekLCT-P);
  --token-8rc1c-HvH74L: #fd8ba0;
  --plasmic-token-theme-accent-warm-low: var(--token-8rc1c-HvH74L);
  --token-5EjFmF_L-XrQ: #f8eff1;
  --plasmic-token-theme-accent-warm-lower: var(--token-5EjFmF_L-XrQ);
  --token-OBftsSbGLYse: #4f1c24;
  --plasmic-token-theme-accent-warm-high: var(--token-OBftsSbGLYse);
  --token-cUdGhiKcmtQE: #1e1517;
  --plasmic-token-theme-accent-warm-higher: var(--token-cUdGhiKcmtQE);
  --token-F3MMlYKodIVG: #f0f0f0;
  --plasmic-token-theme-base-lowest: var(--token-F3MMlYKodIVG);
  --token-viAa7p1UN-ip: #1b1b1b;
  --plasmic-token-theme-base-highest: var(--token-viAa7p1UN-ip);
  --token-2kwuOx5QNWYG: #0050d8;
  --plasmic-token-primary: var(--token-2kwuOx5QNWYG);
  --token-ui1cXD9JmOsn: #fcfcfc;
  --plasmic-token-base-lowest-01: var(--token-ui1cXD9JmOsn);
  --token-4yG6BAULA6Xw: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-4yG6BAULA6Xw);
  --token-Cuj0TkRMmbZS: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-Cuj0TkRMmbZS);
  --token-MQuI6sfysAL1: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-MQuI6sfysAL1);
}

.plasmic_tokens:where(.global_theme_dark) {
  --token-2kwuOx5QNWYG: #2491ff;
  --plasmic-token-primary: var(--token-2kwuOx5QNWYG);
  --token-ui1cXD9JmOsn: #030303;
  --plasmic-token-base-lowest-01: var(--token-ui1cXD9JmOsn);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark) {
  --mixin-cEzopf49HeqM_font-family: var(--token-2HUz1vpv9Q3m);
  --mixin-cEzopf49HeqM_font-size: var(--token-DWgur3SC2Txw);
  --mixin-cEzopf49HeqM_font-weight: 400;
  --mixin-cEzopf49HeqM_font-style: normal;
  --mixin-cEzopf49HeqM_color: var(--token-QNxaskQgKag1);
  --mixin-cEzopf49HeqM_text-align: left;
  --mixin-cEzopf49HeqM_text-transform: none;
  --mixin-cEzopf49HeqM_line-height: var(--token-IdOqQrE893ud);
  --mixin-cEzopf49HeqM_letter-spacing: normal;
  --mixin-cEzopf49HeqM_white-space: pre-wrap;
  --mixin-cEzopf49HeqM_user-select: text;
  --mixin-cEzopf49HeqM_text-decoration-line: none;
  --mixin-cEzopf49HeqM_text-overflow: clip;
  --mixin-feDIB7oF-8yH_color: var(--token-GxKPEtUjqSVR);
  --mixin-feDIB7oF-8yH_font-weight: 900;
  --mixin-feDIB7oF-8yH_font-size: var(--token-xNOmghSdDLjv);
  --mixin-feDIB7oF-8yH_line-height: 1;
  --mixin-feDIB7oF-8yH_letter-spacing: -4px;
  --mixin-feDIB7oF-8yH_font-family: var(--token-Lueu1te1eGIx);
  --mixin-feDIB7oF-8yH_white-space: pre-wrap;
  --mixin-VPEcyorksfb2_color: #000000;
  --mixin-VPEcyorksfb2_font-size: 48px;
  --mixin-VPEcyorksfb2_font-weight: 700;
  --mixin-VPEcyorksfb2_letter-spacing: -0.5px;
  --mixin-VPEcyorksfb2_line-height: 1.1;
  --mixin-VPEcyorksfb2_white-space: pre-wrap;
  --mixin-mz4qSXi_W4a8_color: #0070f3;
  --mixin-mz4qSXi_W4a8_white-space: pre-wrap;
  --mixin-X_Vn0JyQIbPK_color: var(--token-GxKPEtUjqSVR);
  --mixin-X_Vn0JyQIbPK_font-size: var(--token-ir-X2bRwhKhs);
  --mixin-X_Vn0JyQIbPK_font-weight: 700;
  --mixin-X_Vn0JyQIbPK_line-height: 1.2;
  --mixin-X_Vn0JyQIbPK_font-family: var(--token-Lueu1te1eGIx);
  --mixin-X_Vn0JyQIbPK_letter-spacing: -0.8px;
  --mixin-X_Vn0JyQIbPK_white-space: pre-wrap;
  --mixin-hzpauZ7TfRTh_color: #000000;
  --mixin-hzpauZ7TfRTh_font-size: 24px;
  --mixin-hzpauZ7TfRTh_font-weight: 600;
  --mixin-hzpauZ7TfRTh_line-height: 1.3;
  --mixin-hzpauZ7TfRTh_white-space: pre-wrap;
  --mixin-AwwvTfq1QrW5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AwwvTfq1QrW5_border-bottom-color: #dddddd;
  --mixin-AwwvTfq1QrW5_border-bottom-style: solid;
  --mixin-AwwvTfq1QrW5_border-bottom-width: 1px;
  --mixin-AwwvTfq1QrW5_border-left-color: #dddddd;
  --mixin-AwwvTfq1QrW5_border-left-style: solid;
  --mixin-AwwvTfq1QrW5_border-left-width: 1px;
  --mixin-AwwvTfq1QrW5_border-right-color: #dddddd;
  --mixin-AwwvTfq1QrW5_border-right-style: solid;
  --mixin-AwwvTfq1QrW5_border-right-width: 1px;
  --mixin-AwwvTfq1QrW5_border-top-color: #dddddd;
  --mixin-AwwvTfq1QrW5_border-top-style: solid;
  --mixin-AwwvTfq1QrW5_border-top-width: 1px;
  --mixin-AwwvTfq1QrW5_border-bottom-left-radius: 3px;
  --mixin-AwwvTfq1QrW5_border-bottom-right-radius: 3px;
  --mixin-AwwvTfq1QrW5_border-top-left-radius: 3px;
  --mixin-AwwvTfq1QrW5_border-top-right-radius: 3px;
  --mixin-AwwvTfq1QrW5_font-family: "Inconsolata";
  --mixin-AwwvTfq1QrW5_padding-bottom: 1px;
  --mixin-AwwvTfq1QrW5_padding-left: 4px;
  --mixin-AwwvTfq1QrW5_padding-right: 4px;
  --mixin-AwwvTfq1QrW5_padding-top: 1px;
  --mixin-AwwvTfq1QrW5_white-space: pre-wrap;
  --mixin-frHJAJY0h9vM_border-left-color: #dddddd;
  --mixin-frHJAJY0h9vM_border-left-style: solid;
  --mixin-frHJAJY0h9vM_border-left-width: 3px;
  --mixin-frHJAJY0h9vM_color: #888888;
  --mixin-frHJAJY0h9vM_padding-left: 10px;
  --mixin-frHJAJY0h9vM_white-space: pre-wrap;
  --mixin-b60n-fOnovUb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-b60n-fOnovUb_border-bottom-color: #dddddd;
  --mixin-b60n-fOnovUb_border-bottom-style: solid;
  --mixin-b60n-fOnovUb_border-bottom-width: 1px;
  --mixin-b60n-fOnovUb_border-left-color: #dddddd;
  --mixin-b60n-fOnovUb_border-left-style: solid;
  --mixin-b60n-fOnovUb_border-left-width: 1px;
  --mixin-b60n-fOnovUb_border-right-color: #dddddd;
  --mixin-b60n-fOnovUb_border-right-style: solid;
  --mixin-b60n-fOnovUb_border-right-width: 1px;
  --mixin-b60n-fOnovUb_border-top-color: #dddddd;
  --mixin-b60n-fOnovUb_border-top-style: solid;
  --mixin-b60n-fOnovUb_border-top-width: 1px;
  --mixin-b60n-fOnovUb_border-bottom-left-radius: 3px;
  --mixin-b60n-fOnovUb_border-bottom-right-radius: 3px;
  --mixin-b60n-fOnovUb_border-top-left-radius: 3px;
  --mixin-b60n-fOnovUb_border-top-right-radius: 3px;
  --mixin-b60n-fOnovUb_font-family: "Inconsolata";
  --mixin-b60n-fOnovUb_padding-bottom: 3px;
  --mixin-b60n-fOnovUb_padding-left: 6px;
  --mixin-b60n-fOnovUb_padding-right: 6px;
  --mixin-b60n-fOnovUb_padding-top: 3px;
  --mixin-b60n-fOnovUb_white-space: pre-wrap;
  --mixin-6wD9GIBgM1Xa_display: flex;
  --mixin-6wD9GIBgM1Xa_flex-direction: column;
  --mixin-6wD9GIBgM1Xa_align-items: stretch;
  --mixin-6wD9GIBgM1Xa_justify-content: flex-start;
  --mixin-6wD9GIBgM1Xa_list-style-position: outside;
  --mixin-6wD9GIBgM1Xa_padding-left: 40px;
  --mixin-6wD9GIBgM1Xa_position: relative;
  --mixin-6wD9GIBgM1Xa_list-style-type: disc;
  --mixin-6wD9GIBgM1Xa_white-space: pre-wrap;
  --mixin-upHAUUvBzbsY_display: flex;
  --mixin-upHAUUvBzbsY_flex-direction: column;
  --mixin-upHAUUvBzbsY_align-items: stretch;
  --mixin-upHAUUvBzbsY_justify-content: flex-start;
  --mixin-upHAUUvBzbsY_list-style-position: outside;
  --mixin-upHAUUvBzbsY_padding-left: 40px;
  --mixin-upHAUUvBzbsY_position: relative;
  --mixin-upHAUUvBzbsY_list-style-type: decimal;
  --mixin-upHAUUvBzbsY_white-space: pre-wrap;
  --mixin-pmgvrwtNei6S_color: #000000;
  --mixin-pmgvrwtNei6S_font-size: 20px;
  --mixin-pmgvrwtNei6S_font-weight: 600;
  --mixin-pmgvrwtNei6S_line-height: 1.5;
  --mixin-pmgvrwtNei6S_white-space: pre-wrap;
  --mixin-l9K-Wx49ra9X_color: #000000;
  --mixin-l9K-Wx49ra9X_font-size: 16px;
  --mixin-l9K-Wx49ra9X_font-weight: 600;
  --mixin-l9K-Wx49ra9X_line-height: 1.5;
  --mixin-l9K-Wx49ra9X_white-space: pre-wrap;
  --mixin-_cTHETKKKkDq_color: #3291ff;
  --mixin-_cTHETKKKkDq_white-space: pre-wrap;
  --mixin-AN-5nKGJnXUN_white-space: pre-wrap;
  --mixin-fYe1gEdJj6Oc_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_theme_dark) {
  --mixin-JMUQyKshozDh_white-space: pre-wrap;
  --plasmic-mixin-layer-1_white-space: var(--mixin-JMUQyKshozDh_white-space);
  --mixin-Zho9AXxI9y5J_white-space: pre-wrap;
  --plasmic-mixin-layer-2_white-space: var(--mixin-Zho9AXxI9y5J_white-space);
  --mixin-H_msBLeCnCK0_white-space: pre-wrap;
  --plasmic-mixin-layer-3_white-space: var(--mixin-H_msBLeCnCK0_white-space);
  --mixin-GXfaadspzrNb_white-space: pre-wrap;
  --plasmic-mixin-field-stack_white-space: var(
    --mixin-GXfaadspzrNb_white-space
  );
  --mixin-wBUXFJQiYk73_white-space: pre-wrap;
  --plasmic-mixin-field-label_white-space: var(
    --mixin-wBUXFJQiYk73_white-space
  );
  --mixin-yjGdmaYibUU4_white-space: pre-wrap;
  --plasmic-mixin-stat_white-space: var(--mixin-yjGdmaYibUU4_white-space);
  --mixin-Cjb-GCv6u_TQ_white-space: pre-wrap;
  --plasmic-mixin-stat-text_white-space: var(--mixin-Cjb-GCv6u_TQ_white-space);
  --mixin-HbQ5zSepZ016_white-space: pre-wrap;
  --plasmic-mixin-form-field-heading_white-space: var(
    --mixin-HbQ5zSepZ016_white-space
  );
  --mixin-EQ0MR9WFvEjv_white-space: pre-wrap;
  --plasmic-mixin-center-stack_white-space: var(
    --mixin-EQ0MR9WFvEjv_white-space
  );
  --mixin-PQSnRCzeszj8_white-space: pre-wrap;
  --plasmic-mixin-form-field_white-space: var(--mixin-PQSnRCzeszj8_white-space);
  --mixin-RlUxjwW6s2yi_white-space: pre-wrap;
  --plasmic-mixin-month-container_white-space: var(
    --mixin-RlUxjwW6s2yi_white-space
  );
  --mixin-YkGWjWUszKy7_white-space: pre-wrap;
  --plasmic-mixin-month-stack_white-space: var(
    --mixin-YkGWjWUszKy7_white-space
  );
  --mixin-AqWiiCSd0f6o_white-space: pre-wrap;
  --plasmic-mixin-week-number-label_white-space: var(
    --mixin-AqWiiCSd0f6o_white-space
  );
  --mixin-4aS6QXl5Iaqz_white-space: pre-wrap;
  --plasmic-mixin-value_white-space: var(--mixin-4aS6QXl5Iaqz_white-space);
  --mixin-wK-pIa4BjQVI_white-space: pre-wrap;
  --plasmic-mixin-month-info_white-space: var(--mixin-wK-pIa4BjQVI_white-space);
  --mixin-QENvTTRcTnJs_white-space: pre-wrap;
  --plasmic-mixin-month-date-stack_white-space: var(
    --mixin-QENvTTRcTnJs_white-space
  );
  --mixin-9vrSdzDdJtSx_white-space: pre-wrap;
  --plasmic-mixin-month-week-day-field_white-space: var(
    --mixin-9vrSdzDdJtSx_white-space
  );
  --mixin-uEWUpHUDW8cK_white-space: pre-wrap;
  --plasmic-mixin-month-month-stack_white-space: var(
    --mixin-uEWUpHUDW8cK_white-space
  );
  --mixin-igTGP1qmwtTi_white-space: pre-wrap;
  --plasmic-mixin-2-2-1_white-space: var(--mixin-igTGP1qmwtTi_white-space);
  --mixin-e2_sGvBLFNST_white-space: pre-wrap;
  --plasmic-mixin-month-week-stack_white-space: var(
    --mixin-e2_sGvBLFNST_white-space
  );
  --mixin-YzGY_lYTWVvC_white-space: pre-wrap;
  --plasmic-mixin-month-week-day-stack_white-space: var(
    --mixin-YzGY_lYTWVvC_white-space
  );
  --mixin-KD_w1rjkjgv6_white-space: pre-wrap;
  --plasmic-mixin-day-of-week-label_white-space: var(
    --mixin-KD_w1rjkjgv6_white-space
  );
  --mixin-a0zlstGGaqgI_white-space: pre-wrap;
  --plasmic-mixin-month-week-number-stack_white-space: var(
    --mixin-a0zlstGGaqgI_white-space
  );
  --mixin--1AUjd_qrDX9_white-space: pre-wrap;
  --plasmic-mixin-month-week-number-field_white-space: var(
    --mixin--1AUjd_qrDX9_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cEzopf49HeqM_font-family);
  font-size: var(--mixin-cEzopf49HeqM_font-size);
  font-weight: var(--mixin-cEzopf49HeqM_font-weight);
  font-style: var(--mixin-cEzopf49HeqM_font-style);
  color: var(--mixin-cEzopf49HeqM_color);
  text-align: var(--mixin-cEzopf49HeqM_text-align);
  text-transform: var(--mixin-cEzopf49HeqM_text-transform);
  line-height: var(--mixin-cEzopf49HeqM_line-height);
  letter-spacing: var(--mixin-cEzopf49HeqM_letter-spacing);
  white-space: var(--mixin-cEzopf49HeqM_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-feDIB7oF-8yH_color);
  font-weight: var(--mixin-feDIB7oF-8yH_font-weight);
  font-size: var(--mixin-feDIB7oF-8yH_font-size);
  line-height: var(--mixin-feDIB7oF-8yH_line-height);
  letter-spacing: var(--mixin-feDIB7oF-8yH_letter-spacing);
  font-family: var(--mixin-feDIB7oF-8yH_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-VPEcyorksfb2_color);
  font-size: var(--mixin-VPEcyorksfb2_font-size);
  font-weight: var(--mixin-VPEcyorksfb2_font-weight);
  letter-spacing: var(--mixin-VPEcyorksfb2_letter-spacing);
  line-height: var(--mixin-VPEcyorksfb2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-mz4qSXi_W4a8_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-X_Vn0JyQIbPK_color);
  font-size: var(--mixin-X_Vn0JyQIbPK_font-size);
  font-weight: var(--mixin-X_Vn0JyQIbPK_font-weight);
  line-height: var(--mixin-X_Vn0JyQIbPK_line-height);
  font-family: var(--mixin-X_Vn0JyQIbPK_font-family);
  letter-spacing: var(--mixin-X_Vn0JyQIbPK_letter-spacing);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-hzpauZ7TfRTh_color);
  font-size: var(--mixin-hzpauZ7TfRTh_font-size);
  font-weight: var(--mixin-hzpauZ7TfRTh_font-weight);
  line-height: var(--mixin-hzpauZ7TfRTh_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AwwvTfq1QrW5_font-family);
  border-radius: var(--mixin-AwwvTfq1QrW5_border-top-left-radius)
    var(--mixin-AwwvTfq1QrW5_border-top-right-radius)
    var(--mixin-AwwvTfq1QrW5_border-bottom-right-radius)
    var(--mixin-AwwvTfq1QrW5_border-bottom-left-radius);
  padding: var(--mixin-AwwvTfq1QrW5_padding-top)
    var(--mixin-AwwvTfq1QrW5_padding-right)
    var(--mixin-AwwvTfq1QrW5_padding-bottom)
    var(--mixin-AwwvTfq1QrW5_padding-left);
  border-top: var(--mixin-AwwvTfq1QrW5_border-top-width)
    var(--mixin-AwwvTfq1QrW5_border-top-style)
    var(--mixin-AwwvTfq1QrW5_border-top-color);
  border-right: var(--mixin-AwwvTfq1QrW5_border-right-width)
    var(--mixin-AwwvTfq1QrW5_border-right-style)
    var(--mixin-AwwvTfq1QrW5_border-right-color);
  border-bottom: var(--mixin-AwwvTfq1QrW5_border-bottom-width)
    var(--mixin-AwwvTfq1QrW5_border-bottom-style)
    var(--mixin-AwwvTfq1QrW5_border-bottom-color);
  border-left: var(--mixin-AwwvTfq1QrW5_border-left-width)
    var(--mixin-AwwvTfq1QrW5_border-left-style)
    var(--mixin-AwwvTfq1QrW5_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-frHJAJY0h9vM_color);
  padding-left: var(--mixin-frHJAJY0h9vM_padding-left);
  border-left: var(--mixin-frHJAJY0h9vM_border-left-width)
    var(--mixin-frHJAJY0h9vM_border-left-style)
    var(--mixin-frHJAJY0h9vM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-b60n-fOnovUb_font-family);
  border-radius: var(--mixin-b60n-fOnovUb_border-top-left-radius)
    var(--mixin-b60n-fOnovUb_border-top-right-radius)
    var(--mixin-b60n-fOnovUb_border-bottom-right-radius)
    var(--mixin-b60n-fOnovUb_border-bottom-left-radius);
  padding: var(--mixin-b60n-fOnovUb_padding-top)
    var(--mixin-b60n-fOnovUb_padding-right)
    var(--mixin-b60n-fOnovUb_padding-bottom)
    var(--mixin-b60n-fOnovUb_padding-left);
  border-top: var(--mixin-b60n-fOnovUb_border-top-width)
    var(--mixin-b60n-fOnovUb_border-top-style)
    var(--mixin-b60n-fOnovUb_border-top-color);
  border-right: var(--mixin-b60n-fOnovUb_border-right-width)
    var(--mixin-b60n-fOnovUb_border-right-style)
    var(--mixin-b60n-fOnovUb_border-right-color);
  border-bottom: var(--mixin-b60n-fOnovUb_border-bottom-width)
    var(--mixin-b60n-fOnovUb_border-bottom-style)
    var(--mixin-b60n-fOnovUb_border-bottom-color);
  border-left: var(--mixin-b60n-fOnovUb_border-left-width)
    var(--mixin-b60n-fOnovUb_border-left-style)
    var(--mixin-b60n-fOnovUb_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6wD9GIBgM1Xa_display);
  flex-direction: var(--mixin-6wD9GIBgM1Xa_flex-direction);
  align-items: var(--mixin-6wD9GIBgM1Xa_align-items);
  justify-content: var(--mixin-6wD9GIBgM1Xa_justify-content);
  list-style-position: var(--mixin-6wD9GIBgM1Xa_list-style-position);
  padding-left: var(--mixin-6wD9GIBgM1Xa_padding-left);
  position: var(--mixin-6wD9GIBgM1Xa_position);
  list-style-type: var(--mixin-6wD9GIBgM1Xa_list-style-type);
  flex-column-gap: var(--mixin-6wD9GIBgM1Xa_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-upHAUUvBzbsY_display);
  flex-direction: var(--mixin-upHAUUvBzbsY_flex-direction);
  align-items: var(--mixin-upHAUUvBzbsY_align-items);
  justify-content: var(--mixin-upHAUUvBzbsY_justify-content);
  list-style-position: var(--mixin-upHAUUvBzbsY_list-style-position);
  padding-left: var(--mixin-upHAUUvBzbsY_padding-left);
  position: var(--mixin-upHAUUvBzbsY_position);
  list-style-type: var(--mixin-upHAUUvBzbsY_list-style-type);
  flex-column-gap: var(--mixin-upHAUUvBzbsY_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-pmgvrwtNei6S_color);
  font-size: var(--mixin-pmgvrwtNei6S_font-size);
  font-weight: var(--mixin-pmgvrwtNei6S_font-weight);
  line-height: var(--mixin-pmgvrwtNei6S_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-l9K-Wx49ra9X_color);
  font-size: var(--mixin-l9K-Wx49ra9X_font-size);
  font-weight: var(--mixin-l9K-Wx49ra9X_font-weight);
  line-height: var(--mixin-l9K-Wx49ra9X_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-_cTHETKKKkDq_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
