.middleStatGroup4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.middleStatGroup4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.middleStatGroup4 > :global(.__wab_flex-container) > *,
.middleStatGroup4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.middleStatGroup4 > :global(.__wab_flex-container) > picture > img,
.middleStatGroup4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mfBDj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mfBDj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mfBDj > :global(.__wab_flex-container) > *,
.freeBox__mfBDj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mfBDj > :global(.__wab_flex-container) > picture > img,
.freeBox__mfBDj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.statistic__c0R9R:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text___4Domw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__eVyrG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__dVePl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tc6GH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___6N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__boVy2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nWJfC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__nzS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___0Hy3A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0Hy3A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___0Hy3A > :global(.__wab_flex-container) > *,
.freeBox___0Hy3A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Hy3A > :global(.__wab_flex-container) > picture > img,
.freeBox___0Hy3A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.statistic__hnWYt:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__rTvCu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__co2Q7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___2FlXy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nMdA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___4Jshq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___8RbVh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2JyaF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__sgAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.bottomMidStatGroup4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.bottomMidStatGroup4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.bottomMidStatGroup4 > :global(.__wab_flex-container) > *,
.bottomMidStatGroup4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.bottomMidStatGroup4 > :global(.__wab_flex-container) > picture > img,
.bottomMidStatGroup4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.statistic__eIv2B:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text___7CfJ1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wwgPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__s8YRr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7EKlR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__c7JvZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__rSuj5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__raT9P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__xgd8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
