.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(#ecf1f7cc, #ecf1f7cc), #ebeae6;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__v8K7U {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 0px;
}
.freeBox__v8K7U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__v8K7U > :global(.__wab_flex-container) > *,
.freeBox__v8K7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v8K7U > :global(.__wab_flex-container) > picture > img,
.freeBox__v8K7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__qW4Rt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__fv1P8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1680px;
  margin-top: 58px;
  margin-bottom: 58px;
  min-width: 0;
  padding: 0px;
}
.freeBox__eQPq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__eQPq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__eQPq > :global(.__wab_flex-container) > *,
.freeBox__eQPq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQPq > :global(.__wab_flex-container) > picture > img,
.freeBox__eQPq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 1px 0px 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 25px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 1px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__olTf3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
.freeBox__olTf3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__olTf3 > :global(.__wab_flex-container) > *,
.freeBox__olTf3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__olTf3 > :global(.__wab_flex-container) > picture > img,
.freeBox__olTf3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-SpHUTRhu8lYk);
  font-family: var(--token-Lueu1te1eGIx);
  font-size: var(--token-xNOmghSdDLjv);
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  box-shadow: none;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    margin-top: calc(0px + 20px) !important;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.navigationBar:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__fqLo0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fqLo0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__fqLo0 > :global(.__wab_flex-container) > *,
.freeBox__fqLo0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fqLo0 > :global(.__wab_flex-container) > picture > img,
.freeBox__fqLo0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.button__mnXCk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pbJm {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__nt1LY {
  color: var(--token-SpHUTRhu8lYk);
}
.svg__yrMf0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__t3O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qhRtl {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__ylxBo {
  color: var(--token-gekmpGuGPosJ);
}
.svg__niRn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___6VsFj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cMaew {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.text__e4AqH {
  margin-bottom: 0px;
}
.svg___3MQI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer__mnB5O:global(.__wab_instance) {
  position: relative;
}
