.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #232320;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
  border: 1px solid #2e2e2e80;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_link {
  background: #ffffff00;
  border-style: none;
}
.rootcolor_disabled {
  background: var(--token--8Xv9cP458fD);
}
.rootcolor_primaryLow {
  background: var(--token-PY-5PTcJ4zHG);
}
.rootcolor_primary {
  background: var(--token-zj2_Jqlr8Hl4);
}
.rootcolor_primaryHigh {
  background: var(--token-8Wu9dKQH00EE);
}
.rootcolor_secondaryLow {
  background: var(--token-lN142VL2K3ot);
}
.rootcolor_secondary {
  background: var(--token-I2VAUD6ZBeUA);
}
.rootcolor_secondaryHigh {
  background: var(--token-SpHUTRhu8lYk);
}
.rootcolor_coolAccentLow {
  background: var(--token-Z8b9-lTaCgs4);
}
.rootcolor_coolAccent {
  background: var(--token-qMtlLMMEglts);
}
.rootcolor_coolAccentHigh {
  background: var(--token-HcpNVsjVYBZh);
}
.rootcolor_warmAccentLow {
  background: var(--token-5EjFmF_L-XrQ);
}
.rootcolor_warmAccent {
  background: var(--token-TrBzmekLCT-P);
}
.rootcolor_warmAccentHigh {
  background: var(--token-cUdGhiKcmtQE);
}
.rootcolor_infoLow {
  background: var(--token-UevlhQIoxjCi);
}
.rootcolor_info {
  background: var(--token-AGoWkqVW9G7B);
  border-style: solid;
  border-color: var(--token-ECcJsrM_kLo9);
}
.rootcolor_infoHigh {
  background: var(--token-ECcJsrM_kLo9);
}
.rootcolor_successLow {
  background: var(--token-XFFV6gS_LNKx);
}
.rootcolor_success {
  background: var(--token-kVJQbJaBfki0);
}
.rootcolor_successHigh {
  background: var(--token-0_s93ZEJRkDT);
}
.rootcolor_warningLow {
  background: var(--token-JJIcl54CAN5I);
}
.rootcolor_warning {
  background: var(--token-6Krz9A8gqsH_);
}
.rootcolor_warningHigh {
  background: var(--token-buRVndusWxix);
}
.rootcolor_errorLow {
  background: var(--token-pGzcnOqMSgG5);
}
.rootcolor_error {
  background: var(--token-Vr5OMaoLEfSl);
}
.rootcolor_errorHigh {
  background: var(--token-nrLWlQKsaGhk);
}
.rootshowStartIcon_shape_rounded {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.startIconContainersize_huge {
  display: none;
}
.startIconContainersize_tiny {
  display: flex;
}
.startIconContainericonOnly {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.slotTargetStartIconcolor_disabled {
  color: #706f6c;
}
.slotTargetStartIconcolor_successLow {
  color: #18794e;
}
.slotTargetStartIconcolor_warningLow {
  color: #946800;
}
.slotTargetStartIconcolor_warning {
  color: #35290f;
}
.slotTargetStartIconcolor_errorLow {
  color: #ca3214;
}
.svg__hvB59 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainersize_tiny {
  display: none;
}
.contentContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-uTaIJUxv_FXX);
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: var(--token-zj2_Jqlr8Hl4);
}
.slotTargetChildrencolor_disabled {
  color: var(--token-nFIQCaZDGVEX);
}
.slotTargetChildrencolor_primaryLow {
  color: var(--token-8Wu9dKQH00EE);
}
.slotTargetChildrencolor_primary {
  color: var(--token-PY-5PTcJ4zHG);
}
.slotTargetChildrencolor_primaryHigh {
  color: var(--token-PY-5PTcJ4zHG);
}
.slotTargetChildrencolor_secondaryLow {
  color: var(--token-SpHUTRhu8lYk);
}
.slotTargetChildrencolor_secondary {
  color: var(--token-lN142VL2K3ot);
}
.slotTargetChildrencolor_secondaryHigh {
  color: var(--token-lN142VL2K3ot);
}
.slotTargetChildrencolor_coolAccentLow {
  color: var(--token-HcpNVsjVYBZh);
}
.slotTargetChildrencolor_coolAccent {
  color: var(--token-HcpNVsjVYBZh);
}
.slotTargetChildrencolor_coolAccentHigh {
  color: var(--token-Z8b9-lTaCgs4);
}
.slotTargetChildrencolor_warmAccentLow {
  color: var(--token-cUdGhiKcmtQE);
}
.slotTargetChildrencolor_warmAccent {
  color: var(--token-cUdGhiKcmtQE);
}
.slotTargetChildrencolor_warmAccentHigh {
  color: var(--token-5EjFmF_L-XrQ);
}
.slotTargetChildrencolor_infoLow {
  color: var(--token-ECcJsrM_kLo9);
}
.slotTargetChildrencolor_info {
  color: var(--token-Z8b9-lTaCgs4);
}
.slotTargetChildrencolor_infoHigh {
  color: var(--token-UevlhQIoxjCi);
}
.slotTargetChildrencolor_successLow {
  color: var(--token-kVJQbJaBfki0);
}
.slotTargetChildrencolor_success {
  color: var(--token-XFFV6gS_LNKx);
}
.slotTargetChildrencolor_successHigh {
  color: var(--token-XFFV6gS_LNKx);
}
.slotTargetChildrencolor_warningLow {
  color: var(--token-buRVndusWxix);
}
.slotTargetChildrencolor_warning {
  color: var(--token-buRVndusWxix);
}
.slotTargetChildrencolor_warningHigh {
  color: var(--token-JJIcl54CAN5I);
}
.slotTargetChildrencolor_errorLow {
  color: var(--token-nrLWlQKsaGhk);
}
.slotTargetChildrencolor_error {
  color: var(--token-pGzcnOqMSgG5);
}
.slotTargetChildrencolor_errorHigh {
  color: var(--token-pGzcnOqMSgG5);
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.endIconContainericonOnly {
  display: none;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.slotTargetEndIconcolor_disabled {
  color: #706f6c;
}
.slotTargetEndIconcolor_successLow {
  color: #18794e;
}
.slotTargetEndIconcolor_warningLow {
  color: #946800;
}
.slotTargetEndIconcolor_warning {
  color: #35290f;
}
.slotTargetEndIconcolor_errorLow {
  color: #ca3214;
}
.svg___4Ku6V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
