.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__rxiMh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox___14T4E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxkind_alpha___14T4EmFrWo {
  justify-content: space-between;
}
.statistic__orlht:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__rwSxw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__ddNlZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__x0Zfo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jTxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lrDm1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__lNiYp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rqJl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__qGpKc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__lnFnn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__gWb9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__kwkRu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__f5PcF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__piq6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__ut5UG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__g5X8L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___8JFl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__kWjEr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___5VtJg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__jRiPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___3ArY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___2TyMm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hrEmq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__au80B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__mQVd3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7OJUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wBcpD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___6Irkc:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__hKp9W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___8LTv3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__a10Ns:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pvxuD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__i7OdX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__z9FUl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__a26RE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__fclLg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__ezrSy:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__sOqAy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__l2KwU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__eL6Cg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__m4Ess {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__qvuYv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__rGtBi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rGxTh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__u4Zxf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__xMjcU:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__myiH3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___2K9A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__diHxM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3V0Sx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__x3CKw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__mhRsT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eTb4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lexAz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__pzQy:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__jmaIe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__dePYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__tQaqY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gCxYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__yDyWn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__aZtX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1EdD7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__o4Z7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__j4WGv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__lPwco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__xgeha {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__r7OZp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rz7Tk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__nyuZ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__qnox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___4IoAt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__kYkzk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___0AG2T:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__lReMx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__oflzO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___57Uz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fumOr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__ufMg9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__lkZbt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uq4YB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___2M19Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__acyCn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__rn5Li {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___5XbTu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__e2Wew:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6Lorr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__n0Dfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__al5Sf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__efUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wg54 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__cogaL:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__iFU0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__oWLew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic___4COjD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oCj6X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___3ZqNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__iyUmy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__u8FkE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__je1Wd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__bY9Yo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__yWazI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__gXw6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___0G3Qo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wDDa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___8KfnN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__fpXer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__qJ9TH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__akUqf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__jQpJo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxkind_alpha__jQpJomFrWo {
  justify-content: space-between;
  display: flex;
}
.freeBoxkind_beta__jQpJonUib {
  display: none;
}
.statistic__rEaz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__jsJfx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lt3Hs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__ysi8Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oifMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__xJDfT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___4USu0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oxzzo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__p1NcN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__hLndu:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__ikLk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__xo3Wp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__thJhr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6UUbf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__yXtHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__vhJm6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xh5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lZcTm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__kvqof:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__hpSne {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__zqkI3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic___41HeN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__x1QZ2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lmLvY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__nfIqD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fhEzD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__nOu8X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__r37Yn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__cN9Ay {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wpmCm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__xOt2V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tried {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__zDdc7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__nLoRg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bxJmO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__bfnvk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__nbxwr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__qK9Go {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___9O6Qe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__u9Ngs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dvsnI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___8EUsz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__bIdwy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6XlRp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__rFlEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__dEnbF:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__xpfIn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__eyQi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__qlPDf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ysix7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__tj7Ve {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__opiSj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___1EuTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___0HLq0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__n6N7T:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__r3J05 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__zTvyO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__b7CjN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__sj2Ya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__ze0Ek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__hOMyQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dK6B3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__nhfWe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__dWcr2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__iOsi6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__qetlJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic__qyKiz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wuMv8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__oivlG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__tHCp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3UEyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__nje9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__cbV9Z:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__xPb5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__hCzWy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__se1Rv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eEshw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___2KG8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__oLhN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nmBqe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__w4Kou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__q9WBo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__bmX0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text___14CXj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__efSlT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___0FlNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wyABx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__xm4To:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mOj2S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__rtWou {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__opE0L:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text___5Dww3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__dgIa8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.statistic___7YC7R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yrpxk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__kMnBx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__sSYty:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jgDAn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__fhbte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__uPsl9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__mjoC8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__lRkuc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__d00Wf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__am91F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__rHya2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__kFQrJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__if70N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__tsOk5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
