.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.rootcolor_successLow {
  background: #ffffff;
}
.root:focus-within {
  outline: none;
}
.root___focusVisibleWithin {
  outline: none;
}
.trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid #2e2e2e80;
}
.triggerisOpen {
  background: #e9e9e6;
}
.triggercolor_clear {
  background: none;
}
.triggercolor_successLow {
  background: var(--token-XFFV6gS_LNKx);
}
.triggercolor_successHigh {
  background: var(--token-0_s93ZEJRkDT);
}
.triggercolor_infoHigh {
  background: var(--token-ECcJsrM_kLo9);
}
.triggercolor_infoLow {
  background: var(--token-UevlhQIoxjCi);
}
.triggercolor_errorLow {
  background: var(--token-pGzcnOqMSgG5);
}
.triggercolor_errorHigh {
  background: var(--token-nrLWlQKsaGhk);
}
.triggercolor_warningLow {
  background: var(--token-JJIcl54CAN5I);
}
.triggercolor_warningHigh {
  background: var(--token-buRVndusWxix);
}
.triggercolor_accentCoolHigh {
  background: var(--token-HcpNVsjVYBZh);
}
.triggercolor_accentCoolLow {
  background: var(--token-Z8b9-lTaCgs4);
}
.triggercolor_accentWarmLow {
  background: var(--token-5EjFmF_L-XrQ);
}
.triggercolor_accentWarmHigh {
  background: var(--token-cUdGhiKcmtQE);
}
.triggercolor_primaryLow {
  background: var(--token-PY-5PTcJ4zHG);
}
.triggercolor_primaryHigh {
  background: var(--token-8Wu9dKQH00EE);
}
.triggercolor_secondaryLow {
  background: var(--token-lN142VL2K3ot);
}
.triggercolor_secondaryHigh {
  background: var(--token-SpHUTRhu8lYk);
}
.triggercolor_error {
  background: var(--token-Vr5OMaoLEfSl);
}
.triggercolor_info {
  background: var(--token-AGoWkqVW9G7B);
}
.triggercolor_warning {
  background: var(--token-6Krz9A8gqsH_);
}
.triggercolor_success {
  background: var(--token-kVJQbJaBfki0);
}
.triggercolor_primary {
  background: var(--token-zj2_Jqlr8Hl4);
}
.triggercolor_secondary {
  background: var(--token-I2VAUD6ZBeUA);
}
.triggercolor_accentCool {
  background: var(--token-qMtlLMMEglts);
}
.triggercolor_accentWarm {
  background: var(--token-TrBzmekLCT-P);
}
.root:focus-within .trigger {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root .trigger___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root .trigger:hover {
  background: #eeeeec;
}
.root .trigger:active {
  background: #e9e9e6;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.root:focus-within .contentContainer {
  outline: none;
}
.slotTargetSelectedContent {
  white-space: pre;
}
.slotTargetSelectedContent > :global(.__wab_text),
.slotTargetSelectedContent > :global(.__wab_expr_html_text),
.slotTargetSelectedContent > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetSelectedContent > *,
.slotTargetSelectedContent > :global(.__wab_slot) > *,
.slotTargetSelectedContent > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetSelectedContent > picture > img,
.slotTargetSelectedContent > :global(.__wab_slot) > picture > img,
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.root:focus-within .slotTargetSelectedContent > *,
.root:focus-within .slotTargetSelectedContent > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetSelectedContent > picture > img,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetSelectedContent
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.slotTargetPlaceholder {
  white-space: pre;
  color: #000000;
}
.slotTargetPlaceholder > :global(.__wab_text),
.slotTargetPlaceholder > :global(.__wab_expr_html_text),
.slotTargetPlaceholder > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetPlaceholder > *,
.slotTargetPlaceholder > :global(.__wab_slot) > *,
.slotTargetPlaceholder > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetPlaceholder > picture > img,
.slotTargetPlaceholder > :global(.__wab_slot) > picture > img,
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetPlaceholder
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetPlaceholdercolor_successLow {
  color: var(--token-0_s93ZEJRkDT);
}
.slotTargetPlaceholdercolor_successHigh {
  color: var(--token-XFFV6gS_LNKx);
}
.slotTargetPlaceholdercolor_infoHigh {
  color: var(--token-UevlhQIoxjCi);
}
.slotTargetPlaceholdercolor_infoLow {
  color: var(--token-ECcJsrM_kLo9);
}
.slotTargetPlaceholdercolor_errorLow {
  color: var(--token-nrLWlQKsaGhk);
}
.slotTargetPlaceholdercolor_errorHigh {
  color: var(--token-pGzcnOqMSgG5);
}
.slotTargetPlaceholdercolor_warningLow {
  color: var(--token-buRVndusWxix);
}
.slotTargetPlaceholdercolor_warningHigh {
  color: var(--token-JJIcl54CAN5I);
}
.slotTargetPlaceholdercolor_accentCoolHigh {
  color: var(--token-Z8b9-lTaCgs4);
}
.slotTargetPlaceholdercolor_accentCoolLow {
  color: var(--token-HcpNVsjVYBZh);
}
.slotTargetPlaceholdercolor_accentWarmLow {
  color: var(--token-cUdGhiKcmtQE);
}
.slotTargetPlaceholdercolor_accentWarmHigh {
  color: var(--token-5EjFmF_L-XrQ);
}
.slotTargetPlaceholdercolor_primaryLow {
  color: var(--token-8Wu9dKQH00EE);
}
.slotTargetPlaceholdercolor_primaryHigh {
  color: var(--token-PY-5PTcJ4zHG);
}
.slotTargetPlaceholdercolor_secondaryLow {
  color: var(--token-SpHUTRhu8lYk);
}
.slotTargetPlaceholdercolor_secondaryHigh {
  color: var(--token-lN142VL2K3ot);
}
.slotTargetPlaceholdercolor_error {
  color: var(--token-pGzcnOqMSgG5);
}
.slotTargetPlaceholdercolor_info {
  color: var(--token-UevlhQIoxjCi);
}
.slotTargetPlaceholdercolor_warning {
  color: var(--token-buRVndusWxix);
}
.slotTargetPlaceholdercolor_success {
  color: var(--token-XFFV6gS_LNKx);
}
.slotTargetPlaceholdercolor_primary {
  color: var(--token-PY-5PTcJ4zHG);
}
.slotTargetPlaceholdercolor_secondary {
  color: var(--token-lN142VL2K3ot);
}
.slotTargetPlaceholdercolor_accentCool {
  color: var(--token-HcpNVsjVYBZh);
}
.slotTargetPlaceholdercolor_accentWarm {
  color: var(--token-cUdGhiKcmtQE);
}
.dropdownIcon {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #90908c;
  flex-shrink: 0;
}
.dropdownIconcolor_successLow {
  color: var(--token-0_s93ZEJRkDT);
}
.dropdownIconcolor_successHigh {
  color: var(--token-XFFV6gS_LNKx);
}
.dropdownIconcolor_infoHigh {
  color: var(--token-UevlhQIoxjCi);
}
.dropdownIconcolor_infoLow {
  color: var(--token-ECcJsrM_kLo9);
}
.dropdownIconcolor_errorLow {
  color: var(--token-nrLWlQKsaGhk);
}
.dropdownIconcolor_errorHigh {
  color: var(--token-pGzcnOqMSgG5);
}
.dropdownIconcolor_warningLow {
  color: var(--token-buRVndusWxix);
}
.dropdownIconcolor_warningHigh {
  color: var(--token-JJIcl54CAN5I);
}
.dropdownIconcolor_accentCoolHigh {
  color: var(--token-Z8b9-lTaCgs4);
}
.dropdownIconcolor_accentCoolLow {
  color: var(--token-HcpNVsjVYBZh);
}
.dropdownIconcolor_accentWarmLow {
  color: var(--token-cUdGhiKcmtQE);
}
.dropdownIconcolor_accentWarmHigh {
  color: var(--token-5EjFmF_L-XrQ);
}
.dropdownIconcolor_primaryLow {
  color: var(--token-8Wu9dKQH00EE);
}
.dropdownIconcolor_primaryHigh {
  color: var(--token-PY-5PTcJ4zHG);
}
.dropdownIconcolor_secondaryLow {
  color: var(--token-SpHUTRhu8lYk);
}
.dropdownIconcolor_secondaryHigh {
  color: var(--token-lN142VL2K3ot);
}
.dropdownIconcolor_error {
  color: var(--token-pGzcnOqMSgG5);
}
.dropdownIconcolor_info {
  color: var(--token-UevlhQIoxjCi);
}
.dropdownIconcolor_warning {
  color: var(--token-buRVndusWxix);
}
.dropdownIconcolor_success {
  color: var(--token-XFFV6gS_LNKx);
}
.dropdownIconcolor_primary {
  color: var(--token-PY-5PTcJ4zHG);
}
.dropdownIconcolor_secondary {
  color: var(--token-lN142VL2K3ot);
}
.dropdownIconcolor_accentCool {
  color: var(--token-HcpNVsjVYBZh);
}
.dropdownIconcolor_accentWarm {
  color: var(--token-cUdGhiKcmtQE);
}
.root:focus-within .dropdownIcon {
  outline: none;
}
.root .dropdownIcon___focusVisibleWithin {
  outline: none;
}
.overlay:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1000;
}
.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: #ffffff80;
  min-width: 0;
}
